body {
  margin: 0;
  font-family: 'Gotham';
  background-color: white;
  color: #333;
}

* {
  box-sizing: border-box;
}

.navbar-brand-custom {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-brand-custom:hover {
  text-decoration: none;
}

.btn-custom {
  padding: 0.25rem 0.75rem;
  border-radius: 50px;
  font-size: 0.875rem;
  margin-inline: 10px;
}

.btn-custom-signup {
  padding: 0.25rem 0.75rem;
  border-radius: 50px;
  font-size: 0.875rem;
  margin-inline: 10px;
}

.btn-custom-signup:hover {
  background-color: white;
  color: blue;
}

.landing-container {
  display: flex;
  align-items: center;
  height: 70vh;
  margin-bottom: 10%;
}

.left-half {
  margin-top: 5%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8%;
}

.right-half {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.landing-image {
  max-width: 100%;
  height: 100%;
  display: block;
  margin-top: 10%;
}

.big-text {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.small-text {
  font-size: 1.10rem;
  margin-bottom: 1rem;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons-container {
  display: flex;
  margin-bottom: 0.1rem;
}

.search_buttons {
  border-radius: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh; 
  margin-bottom: 5%;
}

.carousel-container {
  width: 80%; 
  max-width: 1200px; 
}

.card-custom {
  width: 20rem; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card-custom .image-wrapper {
  padding: 15px; 
}

.card-custom .image-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px; 
}

.card-custom .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 15px;
  height: 15rem; 

}

.card-custom .card-title {
  flex-grow: 1; 
}

.card-custom .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.heading {
  text-align: center;
  margin-bottom: 5%;
}


/* Tablets and small desktops */
@media (max-width: 992px) {
  .landing-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 5%;
  }

  .left-half, .right-half {
    width: 100%;
    padding: 2rem;
    text-align: center;
  }

  .landing-image {
    height: auto;
  }

  .big-text {
    font-size: 2rem;
  }

  .small-text {
    font-size: 1rem;
  }

  .carousel-container {
    width: 100%;
  }

  .card-custom {
    width: 100%;
  }

  .btn-custom {
    margin-bottom: 3%;
    
  }
}

/* Mobile devices */
@media (max-width: 576px) {
  .left-half {
    width: 100%;
    padding: 1rem;
  }

  .right-half {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-start; 
  }

  .landing-image {
    width: 100%; 
    height: auto;
    margin-top: 0;
  }

  .big-text {
    font-size: 1.5rem;
  }

  .small-text {
    font-size: 0.875rem;
  }

  .carousel-wrapper {
    margin-top: 2rem; 
  }
}
