/* frontend/styles/signup.css */
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../images/DetailedLogo.png') no-repeat;
  background-position: 140% 60%;
  background-size: auto 150%;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 80px;
  margin-right: 10px;
}

.signUpBox {
  height: auto;
  width: 640px;
  padding: 40px;
  background: rgba(255, 255, 255, 1);
  text-align: center;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.signUpHeading {
  margin-bottom: 0.5rem;
}

.signUpBox p {
  margin-bottom: 2.5rem;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.leftInputs, .rightInputs {
  width: 48%;
}

.inputBox {
  position: relative;
  margin-bottom: 15px;
}

.inputBox input, .inputBox select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background: #f9f9f9;
  box-sizing: border-box;
}

.inputBox label {
  position: absolute;
  top: -20px;
  left: 0;
  padding: 0 10px;
  font-size: 14px;
  color: #333;
  background: white;
  pointer-events: none;
  transition: 0.5s;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
  top: -30px;
  left: 10px;
  color: #03a9f4;
  font-size: 12px;
}

button.signUpButton {
  width: 100%;
  height: 40px;
  margin-top: 1rem;
  background: #03a9f4;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}

button.signUpButton:hover {
  background: #0288d1;
}

.homeButton {
  position: absolute;
  top: 20px;
  left: 100px;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.homeButton:hover {
  background-color: #333;
  color: #fff;
}

.accountPrompt {
  font-size: 14px;
  color: #333;
  margin-top: 1rem;
}

.createAccountLink {
  color: #03a9f4;
  text-decoration: none;
}

.createAccountLink:hover {
  text-decoration: underline;
  color: #0c5070;
}

@media (max-width: 768px) {
  .signUpBox {
      width: 90%;
      height: auto;
      padding: 20px;
  }

  .formContainer {
      flex-direction: column;
  }

  .leftInputs, .rightInputs {
      width: 100%;
  }

  .inputBox {
      margin-bottom: 20px;
  }

  button {
      width: 100%;
      margin-top: 1rem;
  }

  .homeButton {
      top: 15px;
      left: 40px;
      font-size: 14px;
  }
}
