/* frontend/styles/signup.css */

/* Background styles */
.background {
  display: absolute;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../images/DetailedLogo.png') no-repeat;
  background-position: right; /* Example: Move background image 200px to the right */
  background-size: auto 120%;
}


/* Navbar styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* Signup box styles */
.signUpBox {
  width: 90%;
  max-width: 35.5rem;
  height: auto;
  margin: 100px auto 0; /* Top margin adjusted to 100px, auto for horizontal centering */
  padding: 40px;
  background: rgba(255, 255, 255, 1);
  text-align: center;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.signUpHeading {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.leftInputs, .rightInputs {
  width: 48%;
}

.inputBox {
  position: relative;
  margin-bottom: 15px;
}

.inputBox input, .inputBox select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background: #f9f9f9;
  box-sizing: border-box;
}

.inputBox label {
  position: absolute;
  top: -20px;
  left: 10px;
  font-size: 14px;
  color: #333;
  background: white;
  pointer-events: none;
  transition: 0.3s;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
  top: -30px;
  font-size: 12px;
  color: #03a9f4;
}
button.map {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  background: #3f473b;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}


button.signUpButton {
  width: 100%;
  height: 40px;
  margin-top: 1rem;
  background: #03a9f4;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}

button.signUpButton:hover {
  background: #0288d1;
}

.homeButton {
  position: absolute;
  top: 20px;
  left: 100px;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.homeButton:hover {
  background-color: #333;
  color: #fff;
}

.accountPrompt {
  font-size: 14px;
  color: #333;
  margin-top: 1rem;
}

.createAccountLink {
  color: #03a9f4;
  text-decoration: none;
}

.createAccountLink:hover {
  text-decoration: underline;
  color: #0c5070;
}


/* Responsive */
@media (max-width: 768px) {
  .background {
    background-size: contain;
    background-position: right;
    
  }

  .signUpBox {
    width: 90%;
    padding: 20px;
    margin-top: 150px; /* Adjust margin for smaller screens */
  }

  .formContainer {
    flex-direction: column;
  }

  .leftInputs, .rightInputs {
    width: 100%;
  }

  .inputBox {
    margin-bottom: 20px;
  }

  button {
    width: 100%;
    margin-top: 1rem;
  }

  .homeButton {
    top: 15px;
    left: 40px;
    font-size: 14px;
  }

  
}
